.centering {
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

.cont2 {
  width: 1200px;
}

input {
  /* display: block; */
  font-family: "Jost";
}

.form {
  padding-bottom: 40px;
  background: #f4f0ec;
  border-radius: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loc {
  display: block;
  justify-content: center;
  align-items: center;
}

.loc > input {
  padding-left: 20px;
  background: #fff;
  width: 300px;
  border-radius: 20px;
  height: 50px;
  font-size: 20px;
  margin-top: 40px;
  display: block;
  border: none;
}

.loc > input:nth-child(1) {
  font-family: "DM Serif Display", sans-serif;
}

.form > textarea {
  width: 300px;
  padding: 10px;
  margin-top: 50px;
  border: none;
  height: 200px;
  font-family: "Jost";
  font-size: 20px;
  resize: none;
  border-radius: 20px;
}

.black {
  width: 180px;
  border: none;
  border-radius: 20px;
  height: 50px;
  background: #292f36;
  color: #fff;
  position: relative;
  top: 20px;
  font-size: 20px;
}

button {
  transition: 0.2s linear;
}

.cont2 > h2 {
  text-align: center;
  font-family: "DM Serif Display", sans-serif;
  font-size: 45px;
}

.ww {
  width: 180px;
  border: none;
  border-radius: 20px;
  height: 50px;
  background: #292f36;
  color: #fff;
  position: relative;
  top: 20px;
  font-size: 20px;
}
